<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.waylens.hachi"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.Hachi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.SignupActivity"/>
        <activity android:name=".ui.activities.BrowseCameraActivity"/>
        <activity android:name=".ui.activities.ClipEditActivity"/>


        <!--Copied from Vidit app-->
        <service android:name=".ui.services.DownloadService"/>

        <activity
            android:name=".ui.activities.CameraListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.activities.CameraControlActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_camera_preview"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoBackground">
        </activity>
        <activity
            android:name=".ui.activities.CameraVideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_camera_video"
            android:theme="@style/AppTheme.NoBackground">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.AddCameraActivity"
            android:label="@string/title_activity_add_camera">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.CameraSetupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_camera_setup">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.CameraOverlaySetupActivity"
            android:label="@string/title_activity_camera_overlay_setup">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.CameraWifiSetupActivity"
            android:label="@string/title_activity_camera_wifi_setup">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.CameraBtSetupActivity"
            android:label="@string/title_activity_camera_bt_setup">
        </activity>
        <activity
            android:name="com.transee.viditcam.app.AppSetupActivity"
            android:label="@string/title_activity_app_setup">
        </activity>
        <!--END COPY Vidit App-->


        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider400866993445789"
            android:exported="true"/>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.waylens.hachi" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.waylens.hachi.gcm.WaylensGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.waylens.hachi.gcm.WaylensInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.waylens.hachi.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <!-- [END gcm_receiver] -->


    </application>

</manifest>
