<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.waylens.hachi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <permission
        android:name="com.waylens.hachi.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.waylens.hachi.permission.C2D_MESSAGE"/>


    <application
        android:name=".app.Hachi"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:theme="@style/LightTheme">

        <!--<uses-library android:name="com.transee.com.waylens.hachi.library.vdb" android:required="true"/>-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.welcome.OvertureActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Overture">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>

        <activity
            android:name=".ui.welcome.FirstInstallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.FirstInstall">

        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name=".ui.authorization.AuthorizeActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.UserProfile"/>
        <!--<item name="android:windowEnterTransition">@transition/dribbble_player_enter</item>-->
        <!--<item name="android:windowReturnTransition">@transition/dribbble_player_return</item>-->


        <activity
            android:name=".ui.activities.NotificationActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.ProfileSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.FollowListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.VersionCheckActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.clips.FootageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Footage"/>

        <activity
            android:name=".ui.activities.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.manualsetup.StartupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Startup"/>

        <activity
            android:name=".ui.manualsetup.ScanQrCodeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.avatar.AvatarActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.CameraSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.PublishActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.SpaceInfoActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.settings.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.liveview.LiveViewSettingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.manualsetup.ManualSetupActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.clips.ClipChooserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.clips.RemixActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.DebugMenuActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.clips.TimelapseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.clips.ClipModifyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.clips.preview.PreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
          <!--  android:theme="@style/LightTheme.Translucent.Preview"-->


        <activity
            android:name=".ui.clips.enhance.EnhanceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Enhance"/>

        <activity
            android:name=".ui.clips.LapTimerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Enhance"/>

        <activity
            android:name=".ui.clips.share.ShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name=".ui.settings.myvideo.MyMomentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.myvideo.UploadingMomentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.myvideo.ExportedVideoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.CountryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.CityActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.VehiclePickActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.liveview.LiveViewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.LiveView"/>


        <activity
            android:name=".ui.settings.ConnectivitySettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.BluetoothSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.WifiSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.ChooseWifiActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.GaugeSettingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.clips.TranscodingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Transcode"/>
        <activity
            android:name=".ui.clips.FinishedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Finished"/>

        <activity
            android:name=".ui.settings.WaylensCloudActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.PhotoViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.CommentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.authorization.LoginActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/LightTheme.Translucent.Login"/>

        <activity
            android:name=".ui.clips.music.MusicListSelectActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.MomentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor"/>

        <activity
            android:name=".ui.settings.FirmwareUpdateActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.MomentEditActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.settings.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.community.MomentSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme.Translucent.Search"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".ui.authorization.SignUpSucceedActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.authorization.FacebookAuthorizeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.authorization.GoogleAuthorizeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.authorization.VerifyEmailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider771534372933789"
            android:exported="true"/>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <!--      android:exported="true"-->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.waylens.hachi"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmIntentService"/>

        <!--        <service
                    android:name=".gcm.WaylensGcmListenerService"
                    android:exported="false">
                    <intent-filter>
                        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                    </intent-filter>
                </service>-->
        <service
            android:name=".gcm.WaylensInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false">
        </service>


        <service
            android:name=".service.download.DownloadServiceRx"
            android:exported="false"/>

        <service
            android:name=".bgjob.BgJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name=".bgjob.export.statejobqueue.CacheUploadMomentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="111f96d8caee6c27d509925c4fb204ae"/>

        <meta-data
            android:name="com.waylens.hachi.glide_snipe_integration.SnipeGlideModule"
            android:value="GlideModule"/>

        <meta-data
            android:name="com.waylens.hachi.app.GlideConfiguration"
            android:value="GlideModule"/>


    </application>

</manifest>
